openapi: 3.0.1
info:
  title: Segments.ai Datasets Samples API
  description: 'REST API for the Segments.ai data-labeling platform for computer vision. Manage datasets, samples, labels, labelsets, and versioned releases for 2D image segmentation/vectors and 3D point cloud and multi-sensor fusion annotation. Authenticate by sending an API key in the Authorization header as `Authorization: APIKey YOUR_API_KEY`.'
  termsOfService: https://segments.ai/terms
  contact:
    name: Segments.ai Support
    url: https://docs.segments.ai
  version: '1.0'
servers:
- url: https://api.segments.ai
security:
- APIKey: []
tags:
- name: Samples
paths:
  /datasets/{owner}/{dataset}/samples:
    get:
      operationId: listSamples
      tags:
      - Samples
      summary: List the samples in a dataset.
      parameters:
      - name: owner
        in: path
        required: true
        schema:
          type: string
      - name: dataset
        in: path
        required: true
        schema:
          type: string
      - name: label_status
        in: query
        required: false
        schema:
          type: string
      - name: per_page
        in: query
        required: false
        schema:
          type: integer
      - name: page
        in: query
        required: false
        schema:
          type: integer
      responses:
        '200':
          description: A list of samples.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Sample'
    post:
      operationId: createSample
      tags:
      - Samples
      summary: Create a sample in a dataset.
      parameters:
      - name: owner
        in: path
        required: true
        schema:
          type: string
      - name: dataset
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SampleCreate'
      responses:
        '201':
          description: The created sample.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Sample'
  /samples/{sample_uuid}:
    get:
      operationId: getSample
      tags:
      - Samples
      summary: Retrieve a single sample.
      parameters:
      - name: sample_uuid
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: The sample.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Sample'
    patch:
      operationId: updateSample
      tags:
      - Samples
      summary: Update a sample.
      parameters:
      - name: sample_uuid
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SampleCreate'
      responses:
        '200':
          description: The updated sample.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Sample'
    delete:
      operationId: deleteSample
      tags:
      - Samples
      summary: Delete a sample.
      parameters:
      - name: sample_uuid
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '204':
          description: Sample deleted.
components:
  schemas:
    SampleCreate:
      type: object
      required:
      - name
      - attributes
      properties:
        name:
          type: string
        attributes:
          type: object
        metadata:
          type: object
        priority:
          type: number
    Sample:
      type: object
      properties:
        uuid:
          type: string
          format: uuid
        name:
          type: string
        attributes:
          type: object
          description: Sample data such as image URL(s) or point cloud reference.
        metadata:
          type: object
        priority:
          type: number
          description: Labeling priority; higher values are labeled first.
        created_at:
          type: string
          format: date-time
  securitySchemes:
    APIKey:
      type: apiKey
      in: header
      name: Authorization
      description: Send your API key in the Authorization header using the value `APIKey YOUR_API_KEY`. Keys are generated in the Segments.ai account settings.
