openapi: 3.0.1
info:
  title: Segments.ai Datasets Labelsets API
  description: 'REST API for the Segments.ai data-labeling platform for computer vision. Manage datasets, samples, labels, labelsets, and versioned releases for 2D image segmentation/vectors and 3D point cloud and multi-sensor fusion annotation. Authenticate by sending an API key in the Authorization header as `Authorization: APIKey YOUR_API_KEY`.'
  termsOfService: https://segments.ai/terms
  contact:
    name: Segments.ai Support
    url: https://docs.segments.ai
  version: '1.0'
servers:
- url: https://api.segments.ai
security:
- APIKey: []
tags:
- name: Labelsets
paths:
  /datasets/{owner}/{dataset}/labelsets:
    get:
      operationId: listLabelsets
      tags:
      - Labelsets
      summary: List the labelsets in a dataset.
      parameters:
      - name: owner
        in: path
        required: true
        schema:
          type: string
      - name: dataset
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: A list of labelsets.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Labelset'
    post:
      operationId: createLabelset
      tags:
      - Labelsets
      summary: Create a labelset in a dataset.
      parameters:
      - name: owner
        in: path
        required: true
        schema:
          type: string
      - name: dataset
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LabelsetCreate'
      responses:
        '201':
          description: The created labelset.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Labelset'
  /datasets/{owner}/{dataset}/labelsets/{name}:
    get:
      operationId: getLabelset
      tags:
      - Labelsets
      summary: Retrieve a single labelset.
      parameters:
      - name: owner
        in: path
        required: true
        schema:
          type: string
      - name: dataset
        in: path
        required: true
        schema:
          type: string
      - name: name
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The labelset.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Labelset'
    delete:
      operationId: deleteLabelset
      tags:
      - Labelsets
      summary: Delete a labelset.
      parameters:
      - name: owner
        in: path
        required: true
        schema:
          type: string
      - name: dataset
        in: path
        required: true
        schema:
          type: string
      - name: name
        in: path
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Labelset deleted.
components:
  schemas:
    LabelsetCreate:
      type: object
      required:
      - name
      properties:
        name:
          type: string
        description:
          type: string
    Labelset:
      type: object
      properties:
        name:
          type: string
        description:
          type: string
        is_groundtruth:
          type: boolean
        created_at:
          type: string
          format: date-time
  securitySchemes:
    APIKey:
      type: apiKey
      in: header
      name: Authorization
      description: Send your API key in the Authorization header using the value `APIKey YOUR_API_KEY`. Keys are generated in the Segments.ai account settings.
